#Radio{
	width: 800px;
	height: 100px;
	position: absolute;
	bottom: 0;
}
.radio-wrapper{
	width: 600px;
	height: 120px;
	position: absolute;
	bottom: 10px;
	right: 25%;
	left: 50%;
	margin-left: -300px;
	border-radius: 25px;
	background-color: rgb(245, 111, 234, 0.4);	
}
.radio-progress{
    display: block;
    width: 80%;
    height: 10px;
    position: absolute;
    top: 45px;
    right: 25%;
    left: 50%;
    margin-left: -40%;
    border-radius: 25px;
    background-color: rgb(190, 130, 247);
    overflow: hidden;
}

.radio-progress.loading{
    background-image: -webkit-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    -webkit-animation: loadingStripes 700ms linear infinite;
    -moz-animation: loadingStripes 700ms linear infinite;
    -ms-animation: loadingStripes 700ms linear infinite;
    -o-animation: loadingStripes 700ms linear infinite;
    animation: loadingStripes 700ms linear infinite;
  }

  .radio-progress-bar{
    -webkit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    transition: width 200ms linear;
    display: block;
    height: 100%;
    width: 0;
    max-width: 100%;
    background-color: #808e97;
    border-radius: 25px; 
  }